<header>
  <h1><%= link_to 'Media Ranker', root_path %></h1>
</header>
<main>
  <div>
    <h2>Media Spotlight:</h2>
  </div>
  <section>
    <h3>Top Movies</h3>
  </section>
  <section>
    <h3>Top Books</h3>
  </section>
  <section>
    <h3>Top Albums</h3>
  </section>
</main>
