<section id="content">
  <h1>Media Ranker: the back page of the internet</h1>


  <h2>Media Spotlight:</h2>
  <p>
    Amazing people. Amazing things.
  </p>


  <h2>Top albums:</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Creator</th>
    </tr>
    <% @albums 10.times do | album | %>
    <td><%= album.title %></td>
    <td><%= album.creator %></td>

  </tr>
  <% end %>



</table>

<h2>Top books:</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Creator</th>

  </tr>

</table>

<h2>Top movies:</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Creator</th>

  </tr>

</table>
</section>
