<section id="content">
<h1>Media Ranker: the back page of the internet</h1>


<h2>Media Spotlight:</h2>
<p>
  Amazing people. Amazing things.
</p>


<h2>Top 10 albums:</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Creator</th>
    <th>Publication Year</th>
    <th>Description</th>
  </tr>

</table>

<h2>Top 10 books:</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Creator</th>
    <th>Publication Year</th>
    <th>Description</th>
  </tr>

</table>

<h2>Top 10 books:</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Creator</th>
    <th>Publication Year</th>
    <th>Description</th>
  </tr>

</table>
</section>
