<section id="content">
  <h1>Media Ranker: the back page of the internet</h1>


  <h2>Media Spotlight:</h2>
  <p>
    Amazing people. Amazing things.
  </p>


  <h2>Top albums:</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Creator</th>
    </tr>
    <% @albums.each do | album | %>
    <tr>
      <td><%= album.title %></td>
      <td><%= album.creator %></td>
    </tr>
    <% end %>


  </table>

  <h2>Top books:</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Creator</th>

    </tr>
    <% @books.each do | book | %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.creator %></td>
    </tr>
    <% end %>

  </table>

  <h2>Top movies:</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Creator</th>

    </tr>

  </table>

  <p>need to link to books, albums, and movies</p>
</section>
