<h1>Contents#index</h1>
<p>Find me in app/views/contents/index.html.erb</p>

<ul>
  <h1>Albums</h1>
<% @albums.each do |a| %>
<li>
  <%=link_to a.title, album_path(a.id) %>
</li>
<% end %>
</ul>

<ul>
  <h1>Books</h1>
<% @books.each do |b| %>
<li>
  <%=link_to b.title, book_path(b.id) %>
</li>
<% end %>
</ul>

<ul>
  <h1>Movies</h1>
<% @movies.each do |m| %>
<li>
  <%=link_to m.title, movie_path(m.id) %>
</li>
<% end %>
</ul>
