<h1>Works#index</h1>
<div class="columns">
<% ["book", "movie", "album"].each do |category| %>
<% category_list = Work.by_category(category) %>
<%= "#{category}:" %>
<% counter = 1 %>
<ul>
<% category_list.each do |work| %>
<li><%= link_to "#{work.title}", work_path(work.id), :class => "title-link" %></li>
<% counter += 1 %>
<% end %>
</ul>
<% end %>
</div>
