<h1>Works#index</h1>

<% ["book", "movie", "album"].each do |category| %>
<% category_list = Work.by_category(category) %>

<h1><%= "Top #{category.capitalize}'s:" %></h1>

<% counter = 1 %>
<ul>
<div class="small-6 large-4 columns"> <% category_list.each do |work| %>

<li><%= link_to "#{work.title}", work_path(work.id) %></li>
<% counter += 1 %>
<% end %>
<br>
<%= link_to "View all #{category.pluralize}".pluralize, category_path(category.pluralize) %>

</ul>
<% end %>


</div>



<!-- category = Work.by_category(category) -->
