<h3>Top Movies</h3>

  <% Work.where(category: 'movie').each do |work| %>
    <ul>
      <li>
        <%= link_to work.name, work_path(work.id) %> by <%= work.created_by %>
      </li>
      <li>
        X votes
      </li>
    </ul>
  <% end %>
<%= link_to "View More Movies", movies_path %>
