<h1>Movies</h1>
<section id="works-lists">

  <% @works.each do |work| %>
    <ul>
      <li>
        <%= link_to work.name, work_path(work.id) %> by <%= work.created_by %>
      </li>
    </ul>
  <% end %>

</section>
