<h2>List of Movies</h2>
<table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created by</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>
  <% @movies.each do | movie | %>
  <tr>
    <td>(number of votes)</td>
    <td><%= link_to movie.title, work_path(movie.id) %></td>
    <td><%= movie.creator %></td>
    <td><%= movie.year %></td>
    <td>(upvote button)</td>
  </tr>
</table>
