<h1>List of Movies</h1>

<% @movies.each do |movie| %>
<p>
  <%= link_to movie.title, work_path(movie.id) %>
</p>
<% end %>

<%= link_to "Back to all media", works_path %>
<%= link_to "Add new movie", new_work_path %>
