<section class="media-table">
  <h3>List of Movies</h3>
  <%= render partial: 'works/table' %>
  <%= link_to "View all media", works_path %>
  <%= link_to "Add a new movie", new_work_path %>
</section>
