<h2>List of <%= "#{submit_text}" %></h2>

<table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>
  <tr>

  </tr>
</table>

<td>50/vote-count</td>
<td>something</td>
<td>something</td>
<td>something</td>
<td>something</td>

<br />
<button><%= link_to "View all media", mainpages_path %></button>
<%= button_to "Add a new #{submit_text}" %>
