<table>
  <thead>
    <tr>
      <th width="80">Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th width="100">Published</th>
      <th width="100">Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @works.each do |work| %>
    <tr>
      <td> X </td>
      <td><%= link_to work.name, work_path(work.id) %></td>
      <td><%= work.created_by %></td>
      <td><%= work.pub_year %></td>
      <td>(upvote button)</td>
    </tr>
    <% end %>
  </tbody>
</table>
