<section>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title:</th>
      <th>Created By: </th>
      <th>Published:</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
  <% works.each do |item| %>
    <tr>
        <td>Number</td>
        <td><%= item.title %></td>
        <td> <%= item.creator%></td>
        <td><%= item.publication_year%></td>
        <td>Upvote </td>
    </tr>
  <% end %>
    </tbody>
</table>
</section>
