<h2> Album Only </h2>

<ul>
  <% @works.each do |work| %>
  <li>
    <%= link_to "Title: #{work.title}", album_path(work.id) %>
    <%= "Category: #{work.category}" %>
    <%= "Created By: #{work.creator}" %>
    <%= "Published: #{work.pub_date}" %>
  </li>
  <% end %>
</ul>
