<main>
  <section>
    <h2>Albums</h2>
    <ul>
    <% @albums.each do |album| %>
      <li><%= link_to album.title, work_path(album.id) %></li>
    <% end %>
    </ul>
  </section>
  <nav>
    <%= button_to "Back All Media", homepage_path, :class => "button", :method => :get %>
    <%= button_to "Add Album", new_album_path, :class => "button", :method => :get %>
  </nav>
</main>
