<header>
  <%= render "shared/header" %>
</header>

<main>
  <section>
    <h2>Albums</h2>
    <ul>
    <% Work.all.where(category: "album").each do |album| %>
      <li><%= link_to album.title, work_path(album.id) %></li>
    <% end %>
    </ul>
  </section>
  <nav>
    <%= link_to "All Media", homepage_path %>
    <%= link_to "Add Album", new_album_path %>
  </nav>
</main>
