<h2> book Only </h2>

<ul>
  <li>
    <%= "Title: #{@work.title}" %>
    <%= "Created By: #{@work.creator}" %>
    <%= "Published: #{@work.pub_date}" %>
  </li>
</ul>
<%= link_to "Back to All Books", books_path%> 
