<h3> Edit this <%= @work.category %></h3>

find me in: app/views/works/edit.html.erb <!-- delete when done  -->

<%= render partial: "form", locals: { action_name: "Update Work", form_method: :patch } %>
