<section id = "top">
<h2> Media Spotlight <h2>
  
</section>
<section id = "albums">
<h2> Top Albums </h2>
<% @albums.each do |item| %>
<%=render partial: 'list' ,  locals:{item:item}%>

<%end%>
</section>

<section id = "books">
<h2> Top Books </h2>
<% @books.each  do |item|  %>
<%=render partial: 'list',  locals:{item:item} %>
<%end%>
</section>

<section id = "movies">
  <h2> Top Movies</h2>
<% @movies.each do |item| %>
<%=render partial: 'list' ,  locals:{item:item}%>
<%end%>
  </section>
