<h1>Media</h1>

<h2>Top Movies</h2>
  <%= render partial: "category", locals: {category: "movie"} %>


<h2>Top Books</h2>
  <%= render partial: "category", locals: {category: "book"} %>

<h2>Top Albums</h2>
  <%= render partial: "category", locals: {category: "album"}%>
