<h1>Media Ranker</h1>
<h2>Ranking the best of everything</h2>


<h2>Media Spotlight</h2>

<table>
  <tr>
    <th>Top Movies</th>
    <th>Top Books</th>
    <th>Top Albums</th>
  </tr>

  <tr>
    <td>
      <% @movies[0..9].each do |movie| %>
      <%= movie.title %>
      <br/>
      <% end %>
    </td>
    <td>
      <% @books[0..9].each do |book| %>
      <%= book.title %>
      <br/>
      <% end %></td>
    <td>
      <% @albums[0..9].each do |album| %>
      <%= album.title %>
      <br/>
      <% end %>
    </td>
  </tr>
</table>
