<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>

<h1>View Categories</h1>

<ul>

   <% @works.each do |work| %>
  <li> <%= work.category %> <%= work.title %> </li>
    <% end %>
  </li>
</ul>
