<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>

<% counter = 1 %>
<% @works[0..9].each do |work| %>
<%= link_to "Work ##{counter}: #{work.title}", works_path(work.title) %>
<% counter += 1 %>
<% end %>
