<h2>Media Spotlight: (title of media with highest votes) by (creator of media with highest votes)</h2>
<p>(number of votes) - (description)</p>

<h2>Top Movies</h2>
<!--  for top 10 items do -->
<ul>
  <h3>(title)</h3>
  <h4>by (creator)</h4>
  <p>(number of votes)</p>
</ul>

<h2>Top Books</h2>
<!--  for top 10 items do -->
<ul>
  <h3>(title)</h3>
  <h4>by (creator)</h4>
  <p>(number of votes)</p>
</ul>

<h2>Top Albumbs</h2>
<!--  for top 10 items do -->
<ul>
  <h3>(title)</h3>
  <h4>by (creator)</h4>
  <p>(number of votes)</p>
</ul>
