<section>
  <article class="list">
    <%= render partial: 'movies/list' %>
  </article>
  <article class="list">
    <%= render partial: 'books/list' %>
  </article>
  <article class="list">
    <%= render partial: 'albums/list' %>
  </article>
</section>
