<section class="media-table">
  <h3>List of Albums</h3>

  <%= render partial: "specific_index" %>

  <%= link_to "Create new Album", new_work_path(:category => "Album"), class: "button" %>
</section>
