<h1>Category#index</h1>
<!-- <%= params[:category] %>
<br>This is my single index for books, albums, and movies -->

<% @works.each do |work| %>
<li><%= link_to "#{work.title}", work_path(work.id), :class => "title-link" %></li>
<% end %>
