
<h2>Media Spotlight</h2>

<table>
  <tr>
    <th>Top Movies</th>
    <th>Top Books</th>
    <th>Top Albums</th>
  </tr>

  <tr>
    <td>
      <% @movies[0..9].each do |movie| %>
      <%= link_to movie.title, work_path(movie.id) %>
      <br/>
      <% end %>
    </td>
    <td>
      <% @books[0..9].each do |book| %>
      <%= link_to book.title, work_path(book.id) %>
      <br/>
      <% end %></td>
    <td>
      <% @albums[0..9].each do |album| %>
      <%= link_to album.title, work_path(album.id) %>
      <br/>
      <% end %>
    </td>
  </tr>
</table>
