<section class="row">
  <h3>Add New <%= params[:category].capitalize %></h3>

  <%= render partial: "form", locals: { action_name: "Add New #{params[:category] }", form_method: :post } %>  
</section>
