
<main>
  <h3>Add Work %></h3>

  <section>
    <%= render partial: "form", locals: { submit_text: "Update Work" } %>

    <% if @work.errors.any? %>
          <ul>
            <% @work.errors.each do |column, message| %>
              <li>
                <%= column.capitalize %> <%= message %>
              </li>
            <% end %>
          </ul>
        <% end %>

  </section>
</main>
