<h3>All books: </h3>
<table>
  <tr>
    <th> Votes  </th>
    <th> Title</th>
    <th>Created by</th>
    <th> Published </th>
    <th>  Upvote  </th>
  </tr>
  <%@all_books.each do |item|%>
    <%= render partial: 'work_table', locals:{item:item}%>
  <%end%>
</table>
<%= button_to 'View all media', root_path, method: :get %>
<%= button_to 'Add a new book', new_book_path, method: :get %>
