<h1> List of Albums </h1>
<ul>
  <% @albums.each do |work| %>
  <li>
    <%= link_to work.title, work_path(work.id) %>
  </li>

  <% end %>
</ul>

<%= button_to "Add a new Album", new_album_path, method: :get %>
<%= button_to "Back to all lists", root_path, method: :get %>
