<h1> List of Movies </h1>
<ul>
  <% @movies.each do |work| %>
  <li>
    <%= link_to work.title, work_path(work.id) %>
  </li>

  <% end %>
</ul>

<%= button_to "Add a new Movie", new_movie_path, method: :get %>
<%= button_to "Back to all lists", root_path, method: :get %>
