
<section>
  <h1> <%=@work.title %> </h1>
  <p>
    Created by: <%=@work.creator %>
  </p>
  <p>
    Published: <%=@work.publication_year %>
  </p>
  <p>
    <%=@work.description %>
  </p>

</section>

<section>
  <h1>
    ?? Votes for this movie
  </h1>
  <p>
    Vote info table goes here
  </p>
</section>
