<h3>Title</h3>
<p>
Created by:
</p>
<p>
Published:
</p>
<p>
<!-- description -->
</p>

<h3>User Summary: <%= link_to @result_user.name %></h3>
<p>Joined site <%= @result_user.join_date %></p>
<h4>Votes</h4>
<!-- insert upvotes table -->

<%= link_to "See all Users", users_path, class: "button" %>
