<h3><%= @selected_work.title %></h3>
<h4>Created by: <%=@selected_work.creator%></h4>
<h4>Published: <%=@selected_work.publication_year%></h4>
<h4><%=@selected_work.description%></h4>

<h3>back to movie list</h3>
