<section id="content">
  <h2>All Users!</h2>

  <table>
    <tr>
      <th>Name</th>
    </tr>
    <% @users.each do | user | %>
    <tr>
      <td><%= user.name %></td>
    </tr>
    <% end %>
  </table>
</section>
