
<div class="row div_head">
  <h3 class = "small-12 colums">List of Users</h3>
</div>

<section class="row">
  <%= link_to "View all media", works_path%>
</section>

<section class="row table_scroll">
  <table>
    <tr>
      <th class = "small-9 colums">Username</th>
      <th class = "small-1 colums">Votes</th>
      <th class = "small-2 colums">Joined</th>
    </tr>
    <% @users.order(:name).each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%= user.votes.count%></td>
      <td><%= user.created_at.strftime("%b %d, %Y")%></td>
    </tr>
    <% end %>
  </table>
</section>
