<h1>List of Users</h1>

<table>
  <tr>
    <th>Votes</th>
    <th>Name</th>
    <th>Join Date</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td>0</td>
    <td><%= link_to user.name, user_path(user.id) %></td>
    <td><%= user.created_at %></td>
  </tr>
  <% end %>
</table>
