<table>
  <th>
    <tr>
      <td>
        Username
      </td>
      <td>
        Votes
      </td>
      <td>
        Joined
      </td>
    </tr>
  </th>
  <% @users.each do |user| %>

  <tr>
    <td>
      <%= link_to user.name, user_path(user.id)  %>
    </td>
    <td>

    </td>
    <td>
      <%= user.created_at.strftime("%b %d, %Y")%>
    </td>

    <% end %>
  </tr>
</table>
<%= button_to "Back to media list", works_index_path, method: :get %>
