<h2>List of Users</h2>
<table>
  <tr>
    <th>Username</th>
    <th>Votes</th>
    <th>Joined</th>
  </tr>
  <% @users.each do | user | %>
  <tr>
    <td><%= user.name %> </td>
    <td>(number of votes associated with user)</td>
    <td><%= user.created_at.strftime("%b %d, %Y") %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Back to Media List", root_path %>
