<table>
  <tr>
    <th>
      Media
    </th>
    <th>
      Vote Date
    </th>
<%@user_votes.each do |vote|%>

</tr>
<tr>
  <td> <%= link_to "#{Work.find_by(id:vote.work_id).title}", work_path(Work.find(vote.work_id))%></td>
  <td> <%=vote.created_at.to_date%> </td>
  <%end%>
</tr>
</table>
