<h2>User Summary: (user name)</h2>
<p>Joined site (date)</p>

<h3>Votes</h3>
<table>
  <tr>
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Category</th>
    <th>Voted On</th>
  </tr>
  <!-- for each vote from user do  -->
  <tr>
    <th>(title)</th>
    <th>(creator)</th>
    <th>(year)</th>
    <th>(category)</th>
    <th>(vote date)</th>
  </tr>
  <!-- end -->
</table>
<%= link_to "See all users", users_path %>
<%= link_to "Back to media list", root_path %>
