<h3>User Summary: <%= link_to @result_user.name %></h3>
<p>Joined site <%= @result_user.join_date %></p>
<h4>Votes</h4>
<!-- insert upvotes table -->

<%= link_to "See all Users", users_path, class: "button" %>


<!-- need a link that will take you back to media page -->
