<section id="content">

  <h2>User summary: <%= @result_user.username %></h2>

  <h1>Votes</h1>
  <p>Joined site: <%= @result_user.created_at.to_date %></p>

  <table>
    <tr>
      <th>Title</th>
      <th>Creator</th>
      <th>Publication Year</th>
      <th>Category</th>
      <th>Voted On</th>
    </tr>



  </table>

</section>
