<h1>User Summary: <%= @result_user.name %></h1>
<p>
  Joined site <%= @result_user.created_at %>
</p>

<p>
  <%= link_to "See all users", users_path %>
</p>
<p>
  <%= link_to "Back to media list", root_path %>
</p>
