<h1>User Summary: <%= @result_user.name %> </h1>

<h4> Joined site <%= @result_user.created_at %> </h4>

<h3>Votes</h3>

<table>
  <tr>
    <th>Media Title</th>
    <th>Created by</th>
    <th>Published</th>
    <th>Category</th>
    <th>Voted On</th>
  </tr>
  <tr>
    <td></td>

  </tr>
</table>

<%= button_to "See all Users", users_path, method: :get %>
<%= button_to "Back to Media list", root_path, method: :get %>
