<div class="row div_head">
  <h3>User Summary: <%= @user.name%></h3>
</div>


<p class="row" >
  <%= @user.created_at.strftime("Joined site %b %d, %Y")%>
</p>

<p class="row">
  <%= link_to "See all Users", users_path, class: "button"%>
  <%= link_to "Back to Media List", works_path, class: "button"%>
</p>
