<nav>
  <head>
    <%= image_tag("owl.jpg", alt: "drawing of owl holding a book", height: "300px") %>
    <h2><a href="/"> Media Ranker </a>Ranking the Best of Everything</h2>

  </head>


  <p>Logged in as user.name </p>

  <p><%= link_to "Logout", welcome_path, class: "button" %></p>

</nav>
