<h1>All Movies</h1>
<ul>
     <% @movies.each do | submission | %>
     <li> <%=  link_to submission.title %> by  <%=  submission.author %></li>
     <li> <%=  submission.votes.size %></li>
     <% end %>
</ul>
