<h1>Media Ranker Welcome Page!</h1> 
<!-- <% @works.each do |work| %> -->
<!-- <%= link_to "Work #{work.title}", work_path(work.id) %> -->
<!-- <%end%> -->

<!-- <h3 class = "top_works">Top Books</h3> -->
<!-- <h3>Top Albums</h3> -->
<!-- <h3>Top Movies</h3> -->

<% ['book', 'album', 'movie'].each do |category| %>
  <%  category_list = Work.by_category(category) %>
  <%="Top #{category.capitalize}s" %>

    <h4 class ="category"><% category_list.each do |work| %></h4>

      <p class ="titles"><%= link_to "Work #{work.title}", work_path(work.id) %></p>
    <% end %>
  <%end %>
