<header>
  <h1>Media Ranker Ranking the Best of Everything</h1>
</header>

<nav>
<p>Logged in as </p>
</nav>

<main>

<section>
<h1>Media Spotlight:</h1>

</section>


<section>
<h2>Top Movies</h2>
<ul>
  <% @works.each do |work| %>
    <% if work.category == "album"%>
    <li>
      <%= link_to work.title, work_path(work.id)%>
    </li>
    <% end %>
  <% end %>
</ul>
</section>

</main>
