<% if current_page?("/albums/new") %>
     <h1>Add New Album</h1>
     <%= render partial: "form", locals: {submit_text: "Add New Album", form_method: :post, category: "Album"} %>
<% elsif current_page?("/books/new") %>
     <h1>Add New Book</h1>
     <%= render partial: "form", locals: {submit_text: "Add New Book", form_method: :post, category: "Book"} %>
<% else %>
     <h1>Add New Movie</h1>
     <%= render partial: "form", locals: {submit_text: "Add New Movie", form_method: :post, category: "Movie"} %>
<% end %>

<%= link_to 'Back', root_path %>
