<section class="media-table">
  <h3>List of Books</h3>
  <%= render partial: 'works/table' %>
  <a><%= link_to "View all media", works_path %></a>
  <a><%= link_to "Add a new book", new_work_path %></a>
</section>
