<h2>List of books</h2>

<% @works.each do |work| %>
  <% if work.category == "book" %>
    <li><%= link_to work.title, work_path(work.id) %></li>
    <li>Title: <%= work[:title] %></li>
    <li>Created By: <%= work[:created_by] %></li>
    <li>Published: <%= work[:publication_year] %></li>
  <% end %>
<% end %>
