<h2>List of books</h2>
<table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created by</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>
  <% @books.each do | book | %>
  <tr>
    <td>(number of votes)</td>
    <td><%= link_to book.title, work_path(book.id) %></td>
    <td><%= book.creator %></td>
    <td><%= book.year %></td>
    <td>(upvote button)</td>
  </tr>
</table>
