<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<%= @book.title %>

<%= link_to "Delete", book_path(@book.id),
    data: { confirm: "Are you sure you want to delete this book?" },
    method: :delete
%>
<%= link_to "Edit", edit_book_path(@book.id) %>
