<h1>List of Albums</h1>
<p>Find me in app/views/albums/index.html.erb</p>

<ul>
<% @albums.each do |a| %>
<li>
  <%=link_to a.title, album_path(a.id) %>
</li>
<% end %>
</ul>

<%= link_to "Make New Album", new_album_path %>
