<h3>List of Albums</h3>

<ul>
  <% @albums.each do |album| %>
    <li>
      <%= link_to album.title, work_path(album.id) %>
    </li>
  <% end %>
</ul>
<!-- link back to all media page -->
<%= link_to 'Back to Media', root_path %>
