<!-- <section class="media-table">
  <h3>List of Albums</h3>
  <%= render partial: 'works/table' %>
  <%= link_to "View all media", works_path, class: "button" %>
  <%= link_to "Add a new album", new_work_path, class: "button" %>
</section> -->
