<section id="content">

  <h2><%= @result_album.title %></h2>

  <h3>Created by: ?</h3>
  <p>Published: <%= @result_album.pub_year %></p>
  <p><%= @result_album.description %></p>

  <p>***buttons here (back to album list, edit, upvote, delete)***</p>
  <h3> ? Votes for this movie</h3>


  <table>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>



  </table>

</section>
