<h1>Albums#show</h1>
<p>Find me in app/views/albums/show.html.erb</p>

<%= @album.title %>

<%= link_to "Delete", album_path(@album.id),
    data: { confirm: "Are you sure you want to delete this album?" },
    method: :delete
%>
<%= link_to "Edit", edit_album_path(@album.id) %>
