<h1><a href="#">Media Ranker</a> Ranking the Best of Everything</h1>

<h2>Media Spotlight: [Link to Highest ranked media] by ___ </h2>

<h2>Top Movies</h2>
<p>
  List of media. Probably use show.html.erb for this.
</p>

<h2>Top Books</h2>
<p>
  List of media. Probably use show.html.erb for this.
</p>

<h2>Top Albums</h2>
<p>
  List of media. Probably use show.html.erb for this.
</p>
