<!-- Moved header code to layout/application so header on all pages -->

<h2>Media Spotlight: [Link to Highest ranked media] by ___ </h2>

<h2>Top Movies</h2>
<p>
  List of media. Probably use _partial.html.erb for this.
</p>
<a href="#">View More Movies</a>

<h2>Top Books</h2>
<p>
  List of media. Probably use _partial.html.erb for this.
</p>
<a href="#">View More Books</a>

<h2>Top Albums</h2>
<p>
  List of media. Probably use _partial.html.erb for this.
</p>
<%= link_to "View More Albums", albums_path %>
<!-- <a href="#">View More Albums</a> -->
