/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('foundation.css');

/*application*/
* {
  list-style: none;
}

.main-header {
  border-bottom: 1px solid darkgrey;
  background-position-x: 0%;
  background-position-y: 0%;
  background-image: image_url("owl.jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  padding-left: 150px;
  padding-right: 15px;
}

.clear {
  clear: both;
  float: right;
}


/*flash*/
.flash * {
  font-size: 32px;
  height: 80px;
  padding: 20px 0;
}

.success {
  color: green;
}

.error, .failure {
  color: #C70039;
}

.alix {
  color: salmon;
}


/*index*/
.featured-details {
  font-size: 31px;
}

.featured-votes {
  font-size: 16px;
}


/*index-category*/
.work-details {
  font-size: 25px;
}

.work-creator-top-ten {
  font-size: 20px;
}


/*work show*/
/*user show*/
/*category list*/
.bottom-buttons, .work-buttons, .user-show-buttons {
  display: block;
}
.bottom-buttons li, .work-buttons li, .user-show-buttons li {
  display: inline-block;
}
