@import url('foundation.css');

header h2 .small {
     font-size: smaller;
 }

 header {
   border-bottom: 1px solid lightgray;
 }

 header h2::before {
   content: url('owl.jpg');
   height: 50px;
 }

 /*header, header h2 {
  height: 15vh;
 }

 main {
   clear:both;
 }*/
