/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('foundation.css');

 header h2 {
   box-sizing: inherit;
   font-size: 2.5em;
   color: slategrey;
 }
 .page-header {
   max-width: 100%;
   background-image: url(http://www.clipartbest.com/cliparts/RiG/B5K/RiGB5KdxT.png);
   background-repeat: no-repeat;
   border-bottom: 1px solid darkgrey;
   margin-bottom: 10px;
   background-size: contain;
 }

 .page-header h2 {
   padding-left: 120px;
 }



 ul {
   margin: 0px;
 }

 li {
   list-style: none;
 }

 /*main {
   padding: 20px;
   margin: 20px;
 }*/

 /*h1 {
   font-size: 3em;
 }*/

 /*.site-title {
   text-align: right;
 }*/

 .column {
   padding: 20px;
 }

 main.row {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
}


.success {
   color: #359b18;
   font-size: 1.9375rem;
 }

.error {
   color: red;
   font-size: 1.9375rem;
 }
