@import url('foundation.css');
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*app-wide styles*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*body {
  color: slategrey;
}*/



/*Getting Header to work correctly!*/
 .float-right {
    float: right;
}

.page-header {
  max-width: 100%;
  border-bottom: 1px solid slategrey;
  background: url("https://www.allsaints-netheravon.wilts.sch.uk/wilts/primary/allsaints/web/littleowl.png?width=640&height=480&scale=LIMIT_MAXSIZE");
  background-size: 150px auto;
  background-repeat: no-repeat;
}

.page-header h2 {
  padding-left: 150px;
  color: slategrey;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: slategrey;
}

/*Media Spotlight*/
.spotlight {
  /*margin-top: 25px;*/
  padding: 25px;
  color: black;
}

/*Top ten lists*/
.top-ten h4 {
  color: slategrey;
}

.top-ten p {
  padding-bottom: 10px;
}
