// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.owl_img, header h1{
  display: inline-block;
  vertical-align: top;
}

.index_page {
    margin-left:2%;
}

.category_list {
  margin-left:2%;
  display: inline-block;
  width: 28%;
  vertical-align: top;
}

ul {
  padding-left: 0;
  list-style: none;
}
