.albums {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.movies {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.books {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
