<h2><%= @work.votes.count %> Votes for this <%= @work.category.capitalize %></h2>

<table>
  <tr>
    <th>User</th>
    <th>Date</th>
  </tr>
  <% @work.votes.each do |vote| %>
  <tr>
    <td><%= link_to User.find_by_id(vote.user_id).username, user_path(vote.user_id) %></td>
    <td><%= vote.created_at.strftime("%b %d, %Y") %></td>
  </tr>
  <% end %>
</table>
