<header>
  <h2>
    <a href="/">Media Ranker</a>
    <%= link_to "Works", works_path %>
           <%= link_to "Users", users_path %>
  </h2>

<div>
       <p class="text-right">Logged in as <a href="/users/11">lisy</a></p>
       <a class="button float-right" href="/logout">Log Out</a>
   </div>
 </header>
